<h4>
    Cart
</h4>
<div class="mt-3">
    <table class="table"
       ng-if="$ctrl.products.length">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Ingredients</th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in $ctrl.products track by product.id">
                <td>{{$index + 1}}</td>
                <td class="text-capitalize">{{product.name}}</td>
                <td>{{product.ingredients}}</td>
                <td>{{product.price | currency}}</td>
                <td class="text-right">
                    <button class="btn btn-danger" 
                       ng-click="$ctrl.removeFromCart(product.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            <tr class="table-light">
                <td></td>
                <td></td>
                <td class="text-right font-weight-bold">Total:</td>
                <td class="font-weight-bold">
                     {{$ctrl.total | currency}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">
                    <button class="btn btn-success"
                       ng-click="$ctrl.submit()">
                        Place the order
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!$ctrl.products.length">
        There are no products in your cart
    </div>
</div>
