<table class="table borderless"
   app-sort="$ctrl.order.products"
   app-sort-default-field="name">
    <thead>
        <tr>
            <th app-sort-field="id">Product Id</th>
            <th app-sort-field="name">Name</th>
            <th>Ingredients</th>
            <th app-sort-field="price">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in collection track by product.id">
            <td>{{::product.id}}</td>
            <td>{{::product.name}}</td>
            <td>{{::product.ingredients}}</td>
            <td>{{::product.price | currency}}</td>
        </tr>
    </tbody>
</table>