<h4>
    The history of your orders
</h4>
<div class="mt-3"
   app-sort="$ctrl.orders"
   app-sort-name="testCollection"
   app-sort-default-field="date"
   app-sort-default-order="DESC">
    <table class="table"
       ng-if="$ctrl.orders.length">
        <thead class="thead-light">
            <tr>
                <th>Order Id</th>
                <th app-sort-field="date">Date</th>
                <th app-sort-field="total">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="order in testCollection track by order.id">
                <td>{{::order.id}}</td>
                <td>{{::order.date | date: 'short'}}</td>
                <td>{{::order.total | currency}}</td>
                <td class="text-right">
                    <button class="btn btn-info" 
                       ng-click="$ctrl.toggleOrderDetails(order)">
                        <i class="fa" aria-hidden="true"
                           ng-class="order.show ? 'fa-minus' : 'fa-plus'"></i>
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end 
               ng-if="order.show">
                <td colspan="4" class="p-0">
                    <app-order-details order="order"></app-order-details>
                </td>
            </tr>
            <tr class="table-light">
                <td colspan="2" class="text-right font-weight-bold">Total</td>
                <td class="font-weight-bold">
                    {{::$ctrl.total | currency}}
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!$ctrl.orders.length">
        You have not placed any orders yet
    </div>
</div>