input[type="text"], textarea, .btn {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.table td {
    vertical-align: middle;
}

.borderless td, .borderless th {
    border: none !important;
}

.sort-asc::after {
    content: '\f0de';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}

.sort-desc::after {
    content: '\f0dd';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}

.sort-neutral::after {
    content: '\f0dc';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}